* {
    margin: 0px;
    padding: 0px;
    font-family: Roboto, Rubik;
}

/* navbar style */
.blinkit-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background-color: white;
    padding: 1rem 2rem;
    height: 86px;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.location {
    padding-top: 1.5rem;
}

.search-bar {
    background-color: #f8f8f8;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 8px;
    padding: 10px;
    width: 40vw;
}

.search-bar>input {
    background-color: transparent;
    border: none;
}

.search-bar>input:focus {
    outline: none;
}

.login-btn:hover {
    opacity: 0.7;

}

.mycart-btn {
    display: flex;
    align-items: center;
    gap: 5px;
}

.scrollable-section,
.card-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    overflow-x: auto;
    width: 85vw;
}

.list,
.card-div {
    width: 100%;
    gap: 5px;
    margin-inline: auto;
    white-space: nowrap;
}

.list>div {
    display: inline-block;
    margin: 10px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    width: 85vw;
    justify-content: space-between;
    margin-inline: auto;
}

.my-card {
    width: 190px;
    border: none;
    margin: 10px;
    height: fit-content;
    padding: 7px 1rem;
    display: inline-block;
}

.time-taken {
    font-weight: 700;
    font-size: 9px;
    width: fit-content;
    color: rgb(54, 54, 54);
    padding: 1px 3px;
}

.product-name {
    font-weight: 600;
    font-size: 20px;
    color: rgb(31, 31, 31);
    margin-top: 5px;
    margin-bottom: 0px;
}

.product-weight {
    color: #666666;
    font-size: 11px;
    margin-bottom: 4px;
}

.product-price {
    color: rgb(31, 31, 31);
    font-size: 16px;
    font-weight: 700;
    padding-top: 3px;

}

.product-btn {
    border: 1px solid green;
    border-radius: 5px;
    background-color: rgb(247, 255, 249);
    width: 66px;
    color: green;
    text-transform: uppercase;
}

.my-card>img {
    width: 140px;
    height: 140px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
}